extends admin

block details

    .row
        form(action='/admin/customers/add', method='GET')
            button.btn.btn-default(type='submit', class="btn btn-success")
                i.fa.fa-plus
                = ' Añadir nuevo Profesor'
        br

    h2 Profesores registrados

    .table-responsive
        table.content-table
            
            thead
                tr
                    td #
                    td Nombre
                    td Celular
                    td Email
                    td Usuario
                    td Grupo
                    td Admin
                    td(colspan="2") Acciones
            tbody
                each customer in customers
                    tr
                        td= customer.UserID
                        td= customer.FullName
                        td= customer.Phone
                        td= customer.Email
                        td= customer.Username
                        td= customer.CategoryName
                        td
                            - var admin = 'Si'
                            if customer.Admin == 0
                                - admin = 'No'
                            = admin
                        //td
                            a.btn.btn-default(href='/admin/customers/' + customer.UserID)
                                i.fa.fa-eye
                                = ' View'
                        td
                            if customer.Admin == 0
                                form.dev-form(action='/admin/customers/' + customer.UserID + '/makeAdmin', method='POST')
                                    button.cus-btn.btn.btn-default(type='submit', class="btn btn-success")
                                        i.fa.fa-unlock
                                        = ' Convertir en Admin'
                            else
                                form.dev-form(action='/admin/customers/' + customer.UserID + '/removeAdmin', method='POST')
                                    button.cus-btn.btn.btn-default(type='submit', class="btn btn-warning")
                                        i.fa.fa-lock
                                        = ' Revocar Admin'
                        td
                            form.dev-form(action='/admin/customers/' + customer.UserID + '/delete', method='POST')
                                button.cus-btn.btn.btn-default(type='submit', class="btn btn-danger")
                                    i.fa.fa-trash-o
                                    = ' Eliminar'