extends admin

block details

    .center-login
        h1 Editar alumno
        form(id='editProduct', action='/admin/products/' + product.ID_Student + '/edit', method='POST')
            .txt_field
                input(type='text', id='name', name='name', value=product.StudentName, required=true)
                span
                label Nombre completo 
            .radio_field
                span
                label Grupo
                select(id='category', name='category')
                    each category in categories
                        if category.CategoryName == product.Grupo
                            option(value=category.CategoryName, selected)= category.CategoryName
                        else
                            option(value=category.CategoryName)= category.CategoryName
            
            .radio_field
                span
                label Padre 1
                select(id='padre1', name='padre1')
                    each padre in padres
                        if padre.PadreNombre == product.Tutor_1
                            option(value=padre.PadreNombre, selected)= padre.PadreNombre
                        else
                            option(value=padre.PadreNombre)= padre.PadreNombre
            .radio_field
                span
                label Padre 2
                select(id='padre2', name='padre2')
                    each padre in padres
                        if padre.PadreNombre == product.Tutor_2
                            option(value=padre.PadreNombre, selected)= padre.PadreNombre
                        else
                            option(value=padre.PadreNombre)= padre.PadreNombre
            .radio_field
                span
                label Padre 3
                select(id='padre3', name='padre3')
                    each padre in padres
                        if padre.PadreNombre == product.Tutor_3
                            option(value=padre.PadreNombre, selected)= padre.PadreNombre
                        else
                            option(value=padre.PadreNombre)= padre.PadreNombre
            

            br
            input(type='submit', value='Actualizar información del alumno')
            br
            br
    br
    br


                
