extends admin

block details

    h2 Asistencia

    table.content-table
        thead
            tr
                th(colspan='5') Historial de asitencia
        thead
            tr
                td Fecha
                td Alumno
                td Padre
                td Grupo
                td Estatus 

        tbody
            if (asistencias < 1)
                tr
                    td
                    td(colspan="3", style="text-align: center;")
                        p= "No se encontraron datos de asistencia"
            else
                each asistencia in asistencias
                    tr
                        td= asistencia.fecha
                        td= asistencia.alumno
                        td= asistencia.padre
                        td= asistencia.grupo
                        

                        
                        if (asistencia.estatus == 0)
                            
                            td(style="background-color:#FFBF00; color:white; text-align:center;")
                                i.fa.fa-warning
                        if (asistencia.estatus == 1)
                            
                            td(style="background-color:green; color:white; text-align:center;")
                                i.fa.fa-check 





