extends admin

block details
    

    form(action='/admin/products/add', method='GET')
        button.btn.btn-default(type='submit', class="btn btn-success")
            i.fa.fa-plus
            = ' Añadir nuevo alumno'
    br
    
    h2 Alumnos

    table.content-table
        thead
            tr
                th(colspan='6') Alumnos
        thead
            tr
                td Nombre completo
                td Padre 1
                td Padre 2
                td Padre 3
                td Grupo
                td    

        tbody
            each product in products
                tr
                    td= product.ProductName
                    td= product.padre1
                    td= product.padre2
                    td= product.padre3
                    td= product.CategoryName
                    td
                        form.dev-form(action='/admin/products/' + product.ProductID + '/edit', method='GET')
                                button.btn.btn-default(type='submit', class="btn btn-info")
                                    i.fa.fa-edit
                                    = ' Editar'


                        form.dev-form(action='/admin/products/' + product.ProductID + '/delete', method='POST')
                                button.btn.btn-default(type='submit', class="btn btn-danger")
                                    i.fa.fa-trash-o
                                    = ' Eliminar'



