extends admin

block details
    

    form(action='/admin/products/add', method='GET')
        button.btn.btn-default(type='submit', class="btn btn-success")
            i.fa.fa-plus
            = ' Añadir nuevo alumno'
    br
    
    h2 Alumnos

    table.content-table
        thead
            tr
                th(colspan='6') Alumnos
        thead
            tr
                td Nombre completo
                td Padre 1
                td Padre 2
                td Padre 3
                td Grupo
                td    

        tbody
            each product in products
                tr
                    td= product.StudentName
                    td= product.Tutor_1
                    td= product.Tutor_2
                    td= product.Tutor_3
                    td= product.Grupo
                    td
                        form.dev-form(action='/admin/products/' + product.ID_Student + '/edit', method='GET')
                                button.btn.btn-default(type='submit', class="btn btn-info")
                                    i.fa.fa-edit
                                    = ' Editar'


                        form.dev-form(action='/admin/products/' + product.ID_Student + '/delete', method='POST')
                                button.btn.btn-default(type='submit', class="btn btn-danger")
                                    i.fa.fa-trash-o
                                    = ' Eliminar'



