extends info

block details
    section#form
        //form

        .container
            
            .center-login
                h1 Editar Información

                form(id='editProfile', action='/usr/' + customer.Username + '/edit', method='POST')
                    .txt_field
                        input(type='text', id='fullname', name='fullName', value=customer.FullName required=true)
                        span
                        label Nombre completo
                    .txt_field
                        input(type='email', id='email', name='email', value=customer.Email required=true)
                        span
                        label Correo electronico
                    .txt_field
                        input(type='tel', id='phone', name='phone', value=customer.Phone required=true)
                        span
                        label Celular
                    .txt_field
                        input(type='password', id='password', name='password', required=true)
                        span
                        label Confirmar contraseña para guardar cambios
                    input(type='submit', value='Actualizar perfil')
                    br
                    br
                    br
            br
            br
                    
       
        