extends info

block details

    h2= "Alumnos inscritos en el grupo " + customer.CategoryName 

    table.content-table
        thead
            tr
                td Nombre completo
                td Padre 1
                td Padre 2
                td Padre 3
                td Grupo

        tbody
            if (orders < 1)
                tr
                    td
                    td(colspan="3", style="text-align: center;")
                        p= "No se encontraron alumnos inscritos en tu grupo"
            else
                each order in orders
                    tr
                        td= order.StudentName
                        td= order.Tutor_1
                        td= order.Tutor_2
                        td= order.Tutor_3
                        td= order.Grupo