extends info

block details
    
    h2= 'Orden ' + order.OrderID
    h4= 'Fecha de compra: ' + order.OrderDate
    .row
        .col-sm-8
            .table-responsive.cart_info
                table.content-table
                    thead
                        tr
                            td(style='max-width: 120px;').image Imagen
                            td Producto
                            td Precio Unitario 
                            td Cantidad
                            td Total
                    tbody

                        each product in products
                            -var quantity = product.Quantity;
                            -var name = product.ProductName;
                            -var productLink = '/cat/' + product.CategorySlug + '/' + product.ProductSlug;
                            -var unitPrice = product.ProductPrice;
                            -var productTotal = product.Total;
                            tr
                                td.cart_product
                                    a(href=productLink)
                                        img(src=product.Image, alt=name, style='width: 120px;')
                                td.cart_description
                                    h4
                                        a(href=productLink)= name
                                    p= product.Description
                                td(style='color: green;')
                                    p= ' $' + unitPrice
                                td.cart_quantity
                                    p=quantity
                                td(style='color: green;')
                                    p.cart_total_price= ' $' + productTotal

        .col-sm-4
            

            .table-responsive.cart_info

                table.content-table
                    thead
                        tr.cart_menu
                            td(colspan=2) Resumen de compra

                    tbody
                        tr
                            td Sub Total
                            td(style='color: green;')= ' $' + order.SubTotal
                        tr
                            td Descuento
                            td(style='color: red;')= ' $' + order.Discount
                        
                        tr
                            td Total
                            td(style='color: green;')
                                span= ' $' + order.Total
                br
                br