extends ../layout

block content
    section#cart_items
        .container
        
            h2= title
            h2= "Tu orden ha sido confirmada con éxito"
            h2= "Puedes visualizar el estatus de tu orden en el apartado Ordenes dentro de tu perfil"
            form(action='/usr/' + customer.Username + '/orders/' + order.OrderID, method='GET')
                        button.btn.btn-default.order-btn(type='submit' class="btn btn-link")
                            i.fa.fa-eye
                            = ' Detalle de orden'
            .row
                .col-sm-8
                    .table-responsive.cart_info
                        table.content-table
                            thead
                                tr.cart_menu
                                    td.image
                                    td.description Producto
                                    td.price Precio Unitario
                                    td.quantity Cantidad
                                    td.total Total
                            tbody
                                each product in products
                                    -var quantity = product.Quantity;
                                    -var name = product.ProductName;
                                    -var productLink = '/cat/' + product.CategorySlug + '/' + product.ProductSlug;
                                    -var unitPrice = product.ProductPrice;
                                    -var productTotal = product.Total;
                                    tr
                                        td.cart_product
                                            a(href=productLink)
                                                img(src=product.Image, alt=name)
                                        td.cart_description
                                            h4
                                                a(href=productLink)= name
                                            p= product.Description
                                        td.cart_price
                                            p= ' $' + unitPrice
                                        td.cart_quantity
                                            p=quantity
                                        td.cart_total
                                            p.cart_total_price= ' $' + productTotal

                .col-sm-4
                    
                    .table-responsive.cart_info
                        table.content-table
                            thead
                                tr.cart_menu
                                    td(colspan=2) Resumen de compra

                            tbody
                                tr
                                    td Sub Total
                                    td(style='color: green;')= ' $' + order.SubTotal
                                tr
                                    td Descuento
                                    td(style='color: red;')= ' $' + order.Discount
                                
                                tr
                                    td Total
                                        td(style='color: green;')
                                            span= ' $' + order.Total

    // /#cart_items
