extends ../layout

block content
    section#cart_items
        .container
            h2 Resumen de Orden
            .row
                .col-sm-8
                    
                        table.content-table
                            thead
                                tr
                                    td.image
                                    td.description Producto
                                    td.price Precio Unitario
                                    td.quantity Cantidad
                                    td.total Total
                            tbody
                                if cart
                                    each item in cart
                                        -var quantity = item.quantity;
                                        if quantity > 0
                                            -var name = item.ProductName;
                                            -var productLink = '/cat/' + item.CategorySlug + '/' + item.ProductSlug;
                                            -var unitPrice = item.ProductPrice;
                                            -var productTotal = item.productTotal;
                                            tr
                                                td.cart_product
                                                    a(href=productLink)
                                                        img(src=item.Image, alt=name)
                                                td.cart_description
                                                    h4
                                                        a(href=productLink)= name
                                                    p= item.Description
                                                td.cart_price
                                                    p= ' $' + unitPrice
                                                td.cart_quantity
                                                    p=quantity
                                                td.cart_total
                                                    p.cart_total_price= ' $' + productTotal

                                    tr
                                        td(colspan='4')
                                        td.cart_quantity
                                            a.btn.btn-default.update(href='/cart') Editar Carrito
                .col-sm-4
                

                    .table-responsive.cart_info
                        if summary
                            table.content-table
                                thead
                                    tr.cart_menu
                                        td(colspan=2) Resumen de compra

                                tbody
                                    tr
                                        td Sub Total
                                        td(style='color: green;')= ' $' + summary.subTotal
                                    tr
                                        td Descuento
                                        td(style='color: red;')= ' $' + summary.discount
                                    tr
                                        td Total
                                        td(style='color: green;')
                                            span= ' $' + summary.total

                    table.table
                        tr
                            td
                            td(colspan=2).text-right
                                form(action='/create-checkout-session', method='POST')
                                    button.btn.btn-default.check_out(type='submit') Confirmar Orden
    // /#cart_items

